html, body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    font-family: 'Press Start 2P', cursive;
    /*background: #FFDC00;*/
}
body.turbo {
    background: red;
}

#logo, #turbo {
    width: 100%;
    position: absolute;
    top: 50%;
    animation: showLogo 1s ease-in-out;
    -webkit-animation-fill-mode: forward;
}

#turbo {
    top: 0; left: 0;
    margin: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 25%;
}

#logo h2 {
    text-decoration: line-through;
    -webkit-transform: rotate(-34deg);
    position: absolute;
    left: 50%;
    margin-left: -500px;
    color: #000;
    text-transform: lowercase;
}

#logo h1, #turbo h1 {
    text-align: center;
    color: #4f82b4;
    text-shadow: 4px 4px 0px #fff;
    font-size: 48px;
}

#turbo h1 {
    color: red;
    z-index: 99;
}

#scoreboard {
	width: 300px;
	float: left;
	background-color: #dedede;
	min-height: 400px;
}

#scoreboard h1 {
	width: 100%;
	text-align: center;
	position: fixed;
}

#scoreboard h3 {
	text-align: center;
	width: 100%;
}
#mainCanvas {
    position: absolute;
    left: 0;    top: 0;
	background: url('../assets/images/sofa.png');
	background-size: 100% 100%;
    z-index: -10;
}

.bars {
    width: 100%;
}

#streakContainer, #drunkContainer {
	width: 35%;
    margin: 0 5%;
	height: 40px;
	position: absolute;
    top: 10px;
    border: 2px solid #000;
}
#drunkContainer {
    margin-left: 60%;
}

#streak{
    width: 0;
    background-color: #f00;
    height: 100%;
} 

#drunk {
	width: 0;
	background-color: #00f;
	height: 100%;
}

#score {
	position: absolute;
    width: 100%;
    top: 0px;
    text-align: center;  
}

#canvas-container {
    position: absolute;
    left: 0;    top: 0;
    z-index: 50;
}