#toasty {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -100px;
    left: -100px;
    -webkit-animation: toastIn 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

#toasty.hide {
    -webkit-animation: toastOut 1s ease-in;
}

@-webkit-keyframes toastIn {
    100% {
        -webkit-transform: translate(100px, -100px);
    }
}

@-webkit-keyframes toastOut {
    100% {
        -webkit-transform: translate(-100px, 100px);
    }
}